.dashboard-analysis-card{
    max-height: 465px;
    height: 100%;
    /* overflow-y: auto; */
    padding: 1rem;
}

.dashboard-analysis-card .card-body {
    padding: 1rem 0rem;
}

.dashboard-analysis-card .img-area,
.dashboard-analysis-card .card-title,
.dashboard-analysis-card .card-text {
    max-width: 600px;
}

/* .image-upload > input
{
    display: none;
} */