.picture-dashboard-body{
    height: calc(100vh - 56px);
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pic-dash-slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-dashboard{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}
